@tailwind base;
@tailwind components;
@tailwind utilities;
.home{
position: absolute;
width: 701px;
height: 642px;
left: 21px;
top: 194px;
}

.authlink {
    text-decoration: none;
  }
  
  .editor {
    height: 600px;
  }
  